.container {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.title {
    padding: 30px;
    font-size: 50px;
    color: cadetblue;
}